<section class="footer">
  <div class="box-container">
    <div class="box" data-aos="fade-up" data-aos-delay="150">
      <a href="#" class="logo">
        <img src="{{ imgPath }}travel.svg" alt="" class="icon-m" />kontiki
      </a>
      <p>Let's make your travel dreams a reality.</p>
      <div class="share">
        <img src="{{ imgPath }}facebook.svg" alt="" />
        <img src="{{ imgPath }}twitter.svg" alt="" />
        <img src="{{ imgPath }}linkedin.svg" alt="" />
        <img src="{{ imgPath }}instagram.svg" alt="" />
      </div>
    </div>

    <div class="box" data-aos="fade-up" data-aos-delay="300">
      <h3>quick links</h3>
      <a href="#home" class="links">
        <img src="{{ imgPath }}right-arrow.svg" alt="" class="icon-xs" />
        home
      </a>
      <a href="#about" class="links">
        <img src="{{ imgPath }}right-arrow.svg" alt="" class="icon-xs" />
        about
      </a>
      <a href="#destination" class="links">
        <img src="{{ imgPath }}right-arrow.svg" alt="" class="icon-xs" />
        destination
      </a>
      <a href="#services" class="links">
        <img src="{{ imgPath }}right-arrow.svg" alt="" class="icon-xs" />
        services
      </a>
      <a href="#gallery" class="links">
        <img src="{{ imgPath }}right-arrow.svg" alt="" class="icon-xs" />
        gallery
      </a>
      <a href="#blogs" class="links">
        <img src="{{ imgPath }}right-arrow.svg" alt="" class="icon-xs" />
        blogs
      </a>
    </div>

    <div class="box" data-aos="fade-up" data-aos-delay="450">
      <h3>contact info</h3>
      <p>
        <img src="{{ imgPath }}map.svg" alt="" class="icon-m" />
        graz, austria
      </p>
      <p>
        <img src="{{ imgPath }}phone.svg" alt="" class="icon-m" />
        +43 667 7726 313
      </p>
      <p style="text-transform: lowercase">
        <img src="{{ imgPath }}email.svg" alt="" class="icon-m" />
        subotic.dejan89@gmail.com
      </p>
      <p>
        <img src="{{ imgPath }}watch.svg" alt="" class="icon-m" />
        7:00am - 10:00pm
      </p>
    </div>

    <div class="box" data-aos="fade-up" data-aos-delay="600">
      <h3>newsletter</h3>
      <p>subscribe for latest updates</p>
      <form action="">
        <input
          type="email"
          name=""
          placeholder="Enter your email"
          class="email"
          id=""
        />
        <input type="submit" value="subscribe" class="btn" />
      </form>
    </div>
  </div>
</section>
