<section class="destination" id="destination">
  <div class="heading">
    <span>our destination</span>
    <h1>make yours destination</h1>
  </div>

  <div class="destination__container">
    <div
      class="destination__content"
      data-aos="fade-up"
      data-aos-delay="150"
      *ngFor="let destination of destinationList"
    >
      <div class="destination__image">
        <img src="{{ destination.img }}" alt="" />
      </div>
      <div class="destination__content-s">
        <h3>{{ destination.title }}</h3>
        <p>
          {{ destination.text }}
        </p>
        <a href="#"
          >read more
          <img
            src="../../../assets/images/icons/right-arrow.svg"
            class="icon-xs"
        /></a>
      </div>
    </div>
  </div>
</section>
