<section class="home" id="home">
  <div class="home__content">
    <span data-aos="fade-up" data-aos-delay="150" class="home__title-s"
      >Cruising
    </span>
    <h3 data-aos="fade-up" data-aos-delay="300" class="home__title-l">
      To Exotic Destinations
    </h3>
    <p data-aos="fade-up" data-aos-delay="450" class="home__text">
      Discovering the beauty and culture of different places around the world
    </p>
    <a data-aos="fade-up" data-aos-delay="600" href="#" class="btn">book now</a>
  </div>
</section>

<app-booking></app-booking>
