<section class="review">
  <div class="review__content" data-aos="fade-right" data-aos-delay="300">
    <span>testimonials</span>
    <h3>good news from our clients</h3>
    <p>
      Kontiki Travel, we pride ourselves on providing exceptional service to our
      clients. But don't just take our word for it - hear what our satisfied
      customers have to say. Check out our testimonials below to see why our
      clients keep coming back for more. Our clients' satisfaction is our top
      priority, and we're always thrilled to receive positive feedback. Read on
      to see what our happy customers have to say about their experiences with
      Kontiki Travel. We are proud to have so many satisfied customers who have
      had great experiences with us. See for yourself by reading through our
      collection of testimonials below.
    </p>
  </div>

  <div class="review__container" data-aos="fade-left" data-aos-delay="600">
    <div class="box">
      <p>
        Kontiki Travel made planning my trip so easy and stress-free. I had the
        time of my life!
      </p>
      <div class="user">
        <img src="../../../assets/images/testemonials/pic-1.png" alt="" />
        <div class="info">
          <h3>Michael</h3>
          <span>designer</span>
        </div>
      </div>
    </div>
    <div class="box">
      <p>
        I've traveled with a lot of different companies, but Kontiki Travel
        truly exceeded my expectations.
      </p>
      <div class="user">
        <img src="../../../assets/images/testemonials/pic-2.png" alt="" />
        <div class="info">
          <h3>Dora</h3>
          <span>journalist</span>
        </div>
      </div>
    </div>
    <div class="box">
      <p>
        I was hesitant to plan a trip during the pandemic, but Kontiki Travel
        ensured my safety and had my best interests in mind.
      </p>
      <div class="user">
        <img src="../../../assets/images/testemonials/pic-3.png" alt="" />
        <div class="info">
          <h3>Tom</h3>
          <span>marketing manager</span>
        </div>
      </div>
    </div>
    <div class="box">
      <p>
        I couldn't have asked for a better travel company. Kontiki Travel made
        my dream vacation a reality.
      </p>
      <div class="user">
        <img src="../../../assets/images/testemonials/pic-4.png" alt="" />
        <div class="info">
          <h3>Sara</h3>
          <span>writer</span>
        </div>
      </div>
    </div>
  </div>
</section>
