.review {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  &__content {
    flex: 1 1 42rem;

    span {
      font-size: 2rem;
      color: var(--green);
    }

    h3 {
      font-size: 3rem;
      color: var(--white);
    }

    p {
      font-size: 1.4rem;
      color: var(--light-color);
      padding: 1rem 0;
      line-height: 2;
    }
  }

  &__container {
    flex: 1 1 42rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    .box {
      flex: 1 1 20rem;
      border-radius: 1rem;
      padding: 2rem;
      background: var(--bg-color);
      border: 0.2rem solid var(--black);

      &:hover {
        border: var(--border);
      }

      p {
        font-size: 1.4rem;
        padding-bottom: 1rem;
        line-height: 2;
        color: var(--light-color);
      }

      .user {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
        }

        h3 {
          font-size: 1.7rem;
          color: var(--white);
        }

        span {
          color: var(--light-color);
          font-size: 1.5rem;
        }
      }
    }
  }
}
