<section class="booking" id="book-form">
  <form action="" class="booking__form">
    <div data-aos="zoom-in" data-aos-delay="150" class="booking__inputBox">
      <span class="booking__label">where to?</span>
      <input
        type="text"
        placeholder="place name"
        value=""
        class="booking__input"
      />
    </div>
    <div data-aos="zoom-in" data-aos-delay="300" class="booking__inputBox">
      <span class="booking__label">when?</span>
      <input type="date" value="" class="booking__input" />
    </div>
    <div data-aos="zoom-in" data-aos-delay="450" class="booking__inputBox">
      <span class="booking__label">how many?</span>
      <input
        type="number"
        placeholder="number of travelers"
        value=""
        class="booking__input"
      />
    </div>
    <input
      data-aos="zoom-in"
      data-aos-delay="600"
      type="submit"
      value="find now"
      class="booking__btn btn"
    />
  </form>
</section>
